.create-policy{
    width: 30%;
    background: var(--border-color);
    border: 1px solid var(--border-color);
    padding: 5px 6px 6px 0px;
    border-radius: 8px;
    color: #fff;
    outline: none;
    text-align: center;
}

.switch-btn{
    width: 6%;
}