.toggle{
    width: 42px;
    height: 20px;
    border-radius: 999px;
    background: #334155;
    border: 1px solid #475569;
    cursor: pointer;
    position: relative;
    padding: 0;
    transition: background 0.25s ease, border-color 0.25s ease;
    transform: translateX(40px);
}

.toggle-thumb{
    width: 18px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.25s ease;
}

.toggle--on{
    background: green;
    border-color: green;
}

.toggle-off{
    background: red;
    border-color: red;
}

.toggle--on .toggle-thumb{
    transform: translateX(20px);
}